html {
  font-size: 20px;
  background-color: #C7FCEB;
}

body {
  width: 90%;
  margin: auto;
  background-color: #C7FCEB;
  border-radius: 20px;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  padding: 5px;
}

.landing {
  background-color: lavender;
  border: 4px dashed purple;
}

.box {
  display: flow-root;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  overflow: hidden;
}

.box-image {
  float: left;
  max-width: 40%;
  margin-left: 1.5em;
}

.box-text {
  text-align: end;
  font-size: 30px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: "Times New Roman", serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;

}

h2 {
  text-align: center;
  text-decoration: overline;
  font-size: 40px;
}
